*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/build
.DS_Store
/captures
.externalNativeBuild
app/src/main/java/com/example/yizhou/counter/CounterDisplay.java
app/src/main/java/com/example/yizhou/counter/CounterDisplay.java
app/src/main/java/com/example/yizhou/counter/CounterDisplay.java
